* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242333;
  color: #fff;
}

.movie-container {
  font-size: 18px;
}

.movie-container .movies {
  border-radius: 6px;
  padding: 4px 8px;
}

.showcase {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-left: 0;
  background-color: #1a1925;
  padding: 8px 22px;
  margin: 30px 0px;
}

.showcase li {
  display: Flex;
  align-items: center;
  gap: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
}

.screen {
  width: 220px;
  height: 90px;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px 8px #fff;
  transform: rotateX(-45deg);
}

.row {
  display: flex;
}

.seat {
  width: 15px;
  height: 12px;
  background-color: #444451;
  margin: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.row .seat:not(.occupied) {
  cursor: pointer;
}

.row .seat:not(.occupied):hover {
  transform: scale(1.2);
}

.row .seat:nth-child(2),
.row .seat:nth-child(6) {
  margin-right: 15px;
}

.seat.occupied {
  background-color: #fff;
}

.seat.selected {
  background-color: turquoise;
}

.text {
  margin: 40px 0;
}

.count,
.total {
  color: turquoise;
}
